<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
	<script type="text/javascript" src='<c:url value="/static/js/main.js" />'></script>
	<link th:href="@{/css/style.css}" style="text/css" rel="stylesheet" media="all" />
<!-- 	<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}" rel="stylesheet" /> -->
</head>
<body onload="dateTime(); changeSlide();">

<h3>Strona logowania</h3>
<form name="loginForm" th:action="@{/login}" method="POST">
	<table>
		<tr>
			<td>Użytkownik:</td>
			<td><input name="username" type="text" /></td>
		</tr>
		<tr>
			<td>Hasło:</td>
			<td><input name="password" type="password" /></td>
		</tr>
		<tr>
			<td></td><td align="right"><input type="submit" value="Zaloguj" onclick="return validateLoginForm()" class="navigateButton" style="width: 100px;" /></td>
		</tr>
	</table>
</form>
<h3>${msg }</h3>
<h3>${error }</h3>
</body>
</html>