<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		layout:decorate="~{layout}">
<head>
  <title>Dentist Office Mobile</title>
</head>
<body>
  <section layout:fragment="content">
    <h3 th:text="#{home.header.agenda.freeTerm}"></h3>
	<h4 th:text="#{home.header.agenda.selectDoctor}"></h4>

	<form id="homePageAgendaSelectDoctor">
		<table>
			<tr th:each="doctor : ${allDoctors }" style="display: inline-block;">
				<td>
					<table class="doctorsPhoto">
						<tr class="">
							<td align="center" th:text="${doctor.firstName + '  ' + doctor.lastName}" ></td>
						</tr>
						<tr class="">
							<td align="center" rowspan="2" >
								<button type="submit" form="homePageAgendaSelectDoctor" formmethod="POST" formaction="/agenda" name="doctorId" th:value="${doctor.id }" class="doctorsPhoto">
									<img th:src="@{'data:image;base64,'+${doctor.base64Photo }}" class="doctorsPhoto" />
								</button>
							</td>
						</tr>
						<tr><td><br></td></tr>
					</table>
				</td>
				<td width="20px"><br></td>
				</tr>
		</table>
	
		<div th:if="${workingWeekFreeTimeMap != null }">
			<p><span th:text="#{home.header.agenda.selectedDoctor }" ></span><b  th:text="${doctor.firstName + '  ' + doctor.lastName}"></b></p>
			<button type="submit" name="weekResultDriver" formmethod="POST" formaction="/agenda" value="stepLeft"
			 																								th:disabled="${disableLeftArrow == 'YES'}" class="navbutton"
			 																								th:text="#{button.agenda.previous7days}" ></button>
			<button type="submit" name="weekResultDriver" formmethod="POST" formaction="/agenda" value="stepRight" 
																											th:disabled="${disableRightArrow == 'YES' }" class="navbutton" 
																											th:text="#{button.agenda.next7days}"></button>
			<br><br>
			<table border="1" class="workingTime">	
				<tr>
						<th th:text="#{visit.table.head.date}"></th>
						<th th:text="#{visit.table.head.weekDay}"></th>
						<th th:text="#{visit.table.head.time}"></th>
				</tr>		
				<tr th:each="map, iter : ${workingWeekFreeTimeMap}"  th:class="${iter.odd}? 'odd'">
						<td th:text="${map.key}"></td>
						<td th:text="${dayOfWeekPolish[workingWeekFreeTimeMap.keySet().toArray()[iter.index].getDayOfWeek().getValue()] }"></td>
						<td th:if="${workingWeekFreeTimeMap.values().toArray()[iter.index].toString().length() == 2 }" 
								th:text="#{home.agenda.noFreeTerms}" id="tdNoFreeTime"></td>
						<td th:if="${workingWeekFreeTimeMap.values().toArray()[iter.index].toString().length() > 2 }">
							<table class="workingTime">
								<tr th:each="time : ${map.value}">
									<td><input type="text" th:value="${time.key}" readonly="readonly" class="inputTime" /></td>
								</tr>
							</table>				
						</td>
				</tr>			
			</table>	
		</div>
	</form>
	<br>		
  </section>

<div layout:fragment="custom-footer">This is some footer content from Home page</div>

</body>
</html>
