<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		layout:decorate="~{layout}">
<head>
	<title>Doctors page</title>
</head>
<body>
<section layout:fragment="content">
	<h3 th:text="#{home.header.doctors}"></h3>
        <table th:each="doctor: ${doctorList}" class="homePageDoctors" >
        	<tr>
        		<td align="center" class="homePageDoctorsName" th:text="${doctor.firstName + ' ' + doctor.lastName}"></td>
        		<td align="center" rowspan="2"><textarea readonly="readonly" th:text="${doctor.description}" class="homePageDoctorsDescription"></textarea></td>
        	</tr>
        	<tr>
				<td align="center" class="homePageDoctorsPhoto">
					<img th:src="@{'data:image;base64,'+${doctor.base64Photo }}" style="height: 300px; max-width: 300px;" />
				</td>
			<tr><td colspan="2"><br></td>
			</tr>
        </table>

</section>


<p layout:fragment="custom-footer">This is some footer content from Doctors page</p>
</body>
</html>