<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		layout:decorate="~{layout}">
<head>
<title>Visit status</title>
</head>
<body onload="dateTime(); changeSlide();">

<section layout:fragment="content" id="content">

<h3>Visit Status</h3>
<form name="loginForm" th:action="@{/visitStatus}" method="POST">
	<table>
		<tr>
			<td>Status Id:</td>
			<td><input name="id" type="text" /></td>
		</tr>
		<tr>
			<td></td><td align="right"><input type="submit" value="Zaloguj" onclick="return validateLoginForm()" class="navigateButton" style="width: 100px;" /></td>
		</tr>
	</table>
</form>

</section>

</body>
</html>