<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
  		layout:decorate="~{layout}">
<head>
  <title>Patient page</title>
</head>
<body>
  <section layout:fragment="content" id="patientContent">
    <h4>Strefa Pacjenta</h4>
    
    
    
	 <section th:insert="patient/patientMenu.html" id="patientMenu">	 	

	 </section>
	 
 
 
 
  </section>
  <footer>
    <p layout:fragment="custom-footer">This is some footer content from Home page</p>
  </footer>
</body>
</html>
